calculator {
    padding: 10px 10px 10px 10px;
    border: 15px solid;
}
li:hover {
    text-decoration: underline;
    font-size: 18px;
    color: #8b0000;
}
body {
    text-align: center;
    border: 10px red solid;
    padding: 25px 25px 25px 25px;
    margin: 25px 25px 25px 25px;
}

