h1 {
    color: #00FFFF;
    text-align: center;
    font-size: 45px;
    border-bottom: 5px solid;
}

h2 {
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 3px;
    margin: 5px 5px 5px 5px;
}

li:hover {
    text-decoration: underline;
    font-size: 18px;
    color: #8b0000;
}


ul {
    padding: 0 0 0 50px;
    color: blue;
}

body {
    text-align: center;
    border: 10px solid blue;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
button {
    color: green;
    font-size:18px;
}